<?xml version="1.0" encoding="ISO-8859-1"?>
 <plugin-config>
  <depends plugin-name="com.iver.cit.gvsig" />
  <resourceBundle name="text"/>
  <libraries library-dir="."/>
  
  <extensions>
  
        <extension class-name="com.tecnicsassociats.gvsig.inpcom.InpExtension2"
                description="INP.com. Exportación datos EPA SWMM"
                active="true"
                priority="2">
           <menu text="INP.com/swmm_menu_title" action-command="SWMM_" position="99997"/>
        </extension>      
        <extension class-name="com.tecnicsassociats.gvsig.inpcom.InpExtension2"
                description="INP.com. Exportación datos EPANET"
                active="true"
                priority="2">
           <menu text="INP.com/epanet_menu_title" action-command="EPANET_" position="99998"/>
        </extension>      
        
  </extensions>
 </plugin-config>
